.container {
  display: flex;
  flex-direction: row;
}

.item {
  flex: 1;

  padding: 20px;
  margin: 5px;
  background-color: lightblue;
  border: 1px solid darkblue;
  text-align: center;
}
.item img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto 10px;
}

a {
  cursor: pointer;
}

.navbar > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar {
  padding: 0.75rem;
}

.navbar:hover {
  background-color: #333;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.navbar ul li a {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  display: block;
}

.navbar ul li a:hover {
  background-color: #bdbbbb;
}

.navbar:hover ul li a {
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 10rem;
  background-color: #fff;
  border: 0.5rem;
}

.dropdown-content ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-content ul li {
    width: 100%;
}

.dropdown-content ul li a {
  width: 100%;
  border: 1px solid #bdbbbb;
  background-color: #FFF;
  border-radius: 0;
  color: #000;
  padding: 0.5rem 0.75rem;
}

.navbar:hover ul .dropdown-content li a {
  color: #000;
}
